In [ ]:
# python2 dcm2mhd.py --inputdir '/media/bence/Elements1/Databases/IRCAD/3Dircadb1/3Dircadb1.4/MASKS_DICOM/liver/' --outputfilepath /media/bence/Elements1/Databases/IRCAD/3Dircadb1/VESSEL/VESSEL12_01-20_Livermasks/VESSEL12_04.mhd

# convert dicom folder to mhd

In [1]:
command = "python2 dcm2mhd.py --inputdir '/media/bence/Elements1/Databases/IRCAD/3Dircadb1/3Dircadb1.XXX/MASKS_DICOM/liver/' --outputfilepath /media/bence/Elements1/Databases/IRCAD/3Dircadb1/VESSEL/VESSEL12_01-20_Livermasks/VESSEL12_XXX.mhd

for i in range(20):

SyntaxError: unexpected EOF while parsing (<ipython-input-1-7bfae00753d4>, line 1)

In [2]:
import os
import argparse
import pandas as pd

In [8]:
df = pd.read_csv('/media/bence/Elements1/Databases/IRCAD/3Dircadb1/VESSEL/VESSEL12_ExampleScans/Annotations/VESSEL_12_19_Annotations.csv')

In [9]:
df.head()

   -123.593  -227.231  244  0
0  -89.3262  -211.215  244  0
1  -85.0428  -176.203  244  0
2 -101.4310  -145.475  244  0
3 -147.2440  -125.176  244  0
4 -198.2720  -121.451  244  0